.kaufmann__section-subtitle {
    width: 60%;
    margin-block: 0px;
    margin-bottom: 0px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    display: flex;
    justify-content: center;
  }