.kaufman__triangle {
    color: #2f80ed;
    position: absolute;
    object-fit: contain;
    width: 877px;
    height: 877px;
    right: -210px;
    z-index: -1;
    display: flex;
    flex-direction: flex-start;
  }